---
let { href } = Astro.props;
---

<a
	class="px-6 py-4 rounded-lg font-poppins text-[20px] font-semibold leading-6 text-white text-center uppercase bg-primary hover:bg-primary-dark hover:bg-primary-dark transition-all duration-300 hover:scale-105 inline-block"
	href={href}
>
	<slot />
</a>