---
import { PortableText } from "astro-portabletext";
import Button from "./Button.astro";
import CalendarIcon from "../assets/svgs/grid.svg";

interface Props {
  content: {
    title: string;
    description: any[];
    link?: string;
    linkText?: string;
  };
}

const { content } = Astro.props;

const { title, description, link, linkText } = content;
---

<section class="bg-white py-16 calendar-section">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-center">
      <div class="col-span-1">
        <div class="">
          <h2 class="text-4xl font-bold mb-8 font-source-serif-4 text-[80px] leading-[80px] tracking-[0%] animate-on-scroll slide-up">{title}</h2>
          <div class="font-source-serif-4 font-normal text-[20px] leading-1 tracking-[0%] mt-6 text-primary animate-on-scroll slide-up">
            <PortableText value={description} />
          </div>
          <div class="max-w-[350px] mt-8 animate-on-scroll slide-up">
            {
              link && linkText && (
                <Button href={link} class="mt-4" background="primary" >
                {linkText}
              </Button>
            )
          }
          </div>
        </div>
      </div>
      <div class="col-span-1 animate-on-scroll slide-up">
        <iframe
          src="https://calendar.google.com/calendar/embed?src=family08926940881321806755%40group.calendar.google.com&ctz=America%2FNew_York"
          style="border: 0"
          width="100%"
          height="600"
          frameborder="0"
          scrolling="no"></iframe>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .calendar-section {
    background-image: url("/images/grid.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
