---
// No props needed for now
---

<div class="flex flex-col gap-5">
  <div>
    <label for="weight" class="sr-only">Weight (lbs)</label>
    <input type="number" id="weight" placeholder="Weight (lbs)" class="px-10 py-4 w-full text-lg bg-white rounded-3xl border-[none] text-zinc-500" required />
  </div>
  <div>
    <label for="litterSize" class="sr-only">Litter Size</label>
    <input type="number" id="litterSize" placeholder="Litter Size" class="px-10 py-4 w-full text-lg bg-white rounded-3xl border-[none] text-zinc-500" required />
  </div>
  <div>
    <label for="age" class="sr-only">Age (months)</label>
    <input type="number" id="age" placeholder="Age (months)" class="px-10 py-4 w-full text-lg bg-white rounded-3xl border-[none] text-zinc-500" required />
  </div>
  <div>
    <label for="breed" class="sr-only">Breed</label>
    <input type="text" id="breed" placeholder="Breed" class="px-10 py-4 w-full text-lg bg-white rounded-3xl border-[none] text-zinc-500" required />
  </div>
</div> 